/*!

	max-width: 100%;
	height: auto;

		width: 100px;
	height: 100px;


 */
.resize_image_accueil

{

	display: flex;
	justify-content: center;
	flex: 40%;
	max-width: 40%;
	margin: auto;


}

.resize_logo

{


	height: 50px;
	width: 50px;

}

.header_perso

{

    background-image:url(../img/background.jpg)

}

.footer_perso
{
border-top:1px solid black;
}

.ul_footer
{
	list-style-type: none;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-around;
}