/*!

	max-width: 100%;
	height: auto;

		width: 100px;
	height: 100px;


 */
.resize_image_accueil

{

	display: flex;
	justify-content: center;
	flex: 40%;
	max-width: 40%;
	margin: auto;
    max-height: 100px;


}


.resize_image /*!  wrap :mettre le rat en dessous   */

{
   display: flex; 
    flex-wrap: wrap;
	margin: auto;
    max-height: 100px;


}



.resize_logo

{


	height: 50px;
	width: 50px;

}

.header_perso

{

    background-image:url(../img/background.jpg)

}

.footer_perso
{
border-top:1px solid black;
background-color:cadetblue;
height: 10px;


}



.ul_footer
{
	list-style-type: none;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-around;
}