
    {% extends 'core/base.html' %}


    {% block content %}

              <form class="" action="" method="post">
                  {% csrf_token %}
                  <div class="">
                    <label for="name" class="control-label"></label>
                    <input type="text" placeholder="Votre email" name="login" value="" id="login">
                    <input type="password" name="password" value="" id="password">
                    <input type="password" name="password_check" value="" id="password">
                  <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger">Creer mon compte</button>
                  </div>
              </form>



    {% endblock %}