
    {% extends 'core/base.html' %}


    {% block content %}


        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
        {% else %}
          <div class="">
           <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXZZZZZZZZZZZZZZZZXX </p>
            <ul>
                {{ categorie_substituion }}

            </ul>
        {% endif %}

          </div>


          <div class="">

          </div>






    {% endblock %}